.App {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}

.f1 {
  font-size: 3rem;
  color: whitesmoke;
}

.f3{
  color: #7c7388;
}

.f6 {
  font-size: .875rem;
  color: whitesmoke;
}

.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
